attrs==18.1.0
autobahn==18.6.1
Automat==0.7.0
constantly==15.1.0
hyperlink==18.0.0
idna==2.7
incremental==17.5.0
prometheus-client==0.3.0
PyHamcrest==1.9.0
six==1.11.0
Twisted==18.7.0
txaio==2.10.0
zope.interface==4.5.0
